<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <body>
    <div class="wrapper">
      <nav>
        <ul>
          <li><a href="">Albert Geek</a></li>
          <li><a href="/">About Me</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
        <ul class="social">
          <li><a href="" class="fb">Facebook</a></li>
          <li><a href="" class="tw">Twitter</a></li>
          <li><a href="/login" class="tw">Login</a></li>
          <li><a href="/logout" class="tw">Logout</a></li>
        </ul>
      </nav>
